<app-page title="How to donate crypto">

    <section class="about_area pt-120">
        <div class="about_white_bg">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <div class="section_title text-center mb-60">
                            <span class="sub_title sub_title_2">donate</span>
                            <h3 class="title title_2">How to donate</h3>
                        </div>
                    </div>
                    <div class="col-8">
                        <p>Giving on <strong>CryptoPot</strong> is easy and secure. Once you've found the organization
                            and cause that you
                            want to support, you can
                            find the donation form on their page. On the form, you can specify the amount you want to
                            donate and choose which
                            stablecoin you want to use (BUSD, USDC, USDT, or DAI). To make a donation, all you need is a
                            wallet that supports the
                            stablecoin you've chosen. From there, simply enter your wallet address and the amount you
                            want to donate, and your
                            donation will be on its way. The platform will then provide you with a confirmation of your
                            donation.</p>
                        <h4>Tax receipt</h4>
                        <p>Regarding tax receipts, please note that the option is available on our platform. If you wish
                            to receive a tax
                            receipt,
                            you will be prompted to provide an email address and the organization will contact you to
                            proceed. It's important to
                            check with your local tax authorities to determine if your donation is tax-deductible and
                            how to proceed.</p>
                        <h4>Wallet setup</h4>
                        <p>To make a donation on <strong>CryptoPot</strong>, you will need to send the funds to an
                            address displayed on
                            the donation form. This
                            address is specific to the Binance Smart Chain (BSC) network. When using MetaMask, you will
                            need to ensure that you have
                            selected BSC as the network and have inputted the correct RPC URL, chain ID, and explorer
                            URL.</p>
                        <p>The RPC URL for BSC is <strong>https://bsc-dataseed.binance.org/</strong><br>
                            The Chain ID for BSC is <strong>56</strong><br>
                            The explorer URL for BSC is <strong>https://bscscan.com/</strong></p>
                        <p>Once you have these details set up in MetaMask, you can input the donation address displayed
                            on the donation form,
                            specify the amount you want to donate, and send the funds. You will then receive a
                            confirmation of your donation on the
                            platform.</p>
                        <p>Please note that it is very important to double-check the address you're sending to, as well
                            as the network and the
                            correct chain ID before making any transaction, as sending to the wrong address can result
                            in a loss of funds.</p>
                        <h4>Confirmation of the transaction</h4>
                        <p>When making a donation on <strong>CryptoPot</strong>, it's important to note that the
                            transaction will not be
                            immediately confirmed.
                            Instead, it will first need to be included in a block on the Binance Smart Chain (BSC)
                            blockchain. This process can take
                            a few minutes, during which time the transaction will be in a "pending" state.</p>
                        <p>Once the transaction has been included in a block, it will need to be confirmed by a certain
                            number of additional blocks
                            before it is considered final. The number of confirmations required can vary depending on
                            the network, but typically
                            around 10 confirmations are needed before a transaction is considered fully confirmed on
                            BSC.</p>
                        <p>Each block on the Binance Smart Chain is mined every 3 sec on average, which means that it
                            will take around 30 sec to
                            mine 10 blocks. Once the transaction has been confirmed by the required number of blocks, it
                            will be considered final
                            and the funds will be credited to the recipient's address.</p>
                        <p>It's important to note that the time it takes for a transaction to be confirmed can vary
                            depending on network conditions
                            and the fee attached to the transaction.</p>

                        <p><strong>Don't hesitate to reach out to us if you have any questions or need help with the
                                donation process. Together, we can
                                make a difference for the causes you care about.</strong></p>

                        <div style="text-align: center">
                            <img src="assets/img/logo/logo-vertical.png" style="width: 50%;"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</app-page>