<app-page title="Privacy Policy">

    <section class="about_area pt-120">
        <div class="about_white_bg">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <div class="section_title text-center mb-60">
                            <span class="sub_title sub_title_2">legal</span>
                            <h3 class="title title_2">Privaty Policy</h3>
                        </div>
                    </div>
                    <div class="col-8">
                        <p>At <strong>CryptoPot</strong>, we take the privacy of our users seriously. This Privacy Policy (the "Policy")
                            explains how we collect,
                            use, and disclose personal information when you use our website (the "Website") and services
                            (the "Services"). By using
                            the Website and Services, you consent to the collection, use, and disclosure of your
                            personal information as described
                            in this Policy.</p>
                        <h4>Information We Collect</h4>
                        <p>We collect personal information that you voluntarily provide to us when you use the Website
                            and Services. This may
                            include your name, email address, and any other information you choose to provide.
                            <br>We also collect information about your use of the Website and Services, such as your
                            browsing history, search queries,
                            and the pages you visit.
                            <br>We may also collect information from your device, such as your IP address, browser type,
                            and device type.
                        </p>
                        <h4>How We Use Your Information</h4>
                        <p>We use the information we collect to provide and improve the Website and Services.
                            <br>We may also use your information to communicate with you, such as to send you updates or
                            respond to your inquiries.
                            <br>We may also use your information for research and analytics purposes.
                        </p>
                        <h4>Sharing Your Information</h4>
                        <p>We do not share your personal information with third parties without your consent, except as
                            required by law or as
                            necessary to provide and improve the Website and Services.
                            <br>We may share non-personal information, such as aggregate usage statistics, with third
                            parties for research or marketing
                            purposes.
                        </p>
                        <h4>Data Retention</h4>
                        <p>We retain your personal information for as long as necessary to provide the Website and
                            Services and to comply with our
                            legal obligations.</p>
                        <h4>Security</h4>
                        <p>We take reasonable measures to protect your personal information from loss, theft, and
                            unauthorized access, use, and
                            disclosure.
                            <br>However, we cannot guarantee the security of your personal information and will not be
                            liable for any unauthorized
                            access or use of your personal information
                        </p>
                        <h4>Your Rights</h4>
                        <p>You have the right to access, correct, update, or request the deletion of your personal
                            information at any time.
                            <br>You can also request that we stop using your personal information for direct marketing
                            purposes.
                            <br>You can also contact us to request a copy of your personal information in a structured,
                            machine-readable format.
                            <br>You also have the right to file a complaint with the relevant data protection authority
                            if you believe that your rights
                            have been violated.
                        </p>
                        <h4>Children's Privacy</h4>
                        <p>Our Website and Services are not intended for children under the age of 18. We do not
                            knowingly collect personal
                            information from children under the age of 18.</p>
                        <h4>Changes to the Privacy Policy</h4>
                        <p>We may make changes to this Policy from time to time. If we make any material changes, we
                            will notify you by email or
                            through a notice on our Website.</p>
                        <h4>Contact Us</h4>
                        <p>If you have any questions or concerns about this Policy, please contact us at
                            contact@<strong>cryptopot</strong>.fr</p>
                        <br><br>
                        <p>By using the Website and Services, you acknowledge that you have read and understand this
                            Policy and agree to be bound
                            by it. If you do not agree to this Policy, please do not use the Website or Services.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</app-page>