<app-page title="FAQ">

    <section class="about_area pt-120">
        <div class="about_white_bg" style="padding-bottom: 20px !important;">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <div class="section_title text-center mb-60">
                            <span class="sub_title sub_title_2">about us</span>
                            <h3 class="title title_2">FAQ</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion_area pt-120 pb-80">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xxl-8 col-xl-8 col-lg-8">
                        <div class="accordion_wrapper mb-40">
                            <div class="accordion" id="accordionExample">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingOne">
                                        <button class="accordion-button faq_button" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true"
                                            aria-controls="collapseOne">What is CryptoPot?</button>
                                    </h2>
                                    <div id="collapseOne" class="accordion-collapse collapse show"
                                        aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">CryptoPot is an online platform that allows users to
                                            make charitable donations using stablecoins such as BUSD, USDC,
                                            USDT, and DAI. The platform connects individuals who want to make a
                                            difference with organizations that are making a
                                            positive impact on society.
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingTwo">
                                        <button class="accordion-button faq_button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                                            aria-expanded="false" aria-controls="collapseTwo">How do I make a donation
                                            on CryptoPot?</button>
                                    </h2>
                                    <div id="collapseTwo" class="accordion-collapse collapse"
                                        aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">To make a donation on CryptoPot, simply find the
                                            organization and cause that you want to support and look for the
                                            donation form on their page. On the form, you can specify the amount you
                                            want to donate and choose which stablecoin you
                                            want to use (BUSD, USDC, USDT, or DAI). From there, simply enter your wallet
                                            address and the amount you want to donate,
                                            and your donation will be on its way.
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingThree">
                                        <button class="accordion-button faq_button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapseThree"
                                            aria-expanded="false" aria-controls="collapseTwo">Can I get a tax receipt
                                            for my donation?</button>
                                    </h2>
                                    <div id="collapseThree" class="accordion-collapse collapse"
                                        aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">Yes, you can request a tax receipt for your
                                            donation. Please check with your local tax authorities to determine if your
                                            donation is tax-deductible and how to proceed.
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingFour">
                                        <button class="accordion-button faq_button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapseFour"
                                            aria-expanded="false" aria-controls="collapseTwo">How long does it take for
                                            a donation to be confirmed?</button>
                                    </h2>
                                    <div id="collapseFour" class="accordion-collapse collapse"
                                        aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">When making a donation on CryptoPot, it's important
                                            to note that the transaction will not be immediately confirmed.
                                            Instead, it will first need to be included in a block on the Binance Smart
                                            Chain (BSC) blockchain. This process can take
                                            a few minutes, during which time the transaction will be in a "pending"
                                            state. Once the transaction has been confirmed
                                            by the required number of blocks, it will be considered final and the funds
                                            will be credited to the recipient's address.
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingFive">
                                        <button class="accordion-button faq_button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapseFive"
                                            aria-expanded="false" aria-controls="collapseTwo">How do I know if my
                                            donation has been received?</button>
                                    </h2>
                                    <div id="collapseFive" class="accordion-collapse collapse"
                                        aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">The platform will provide you with a confirmation of
                                            your donation. If you have any concerns about the status of your
                                            donation, please reach out to the organization or the support team of
                                            CryptoPot.
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingSix">
                                        <button class="accordion-button faq_button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapseSix"
                                            aria-expanded="false" aria-controls="collapseSix">What if I accidentally
                                            sent my donation to the wrong address?</button>
                                    </h2>
                                    <div id="collapseSix" class="accordion-collapse collapse"
                                        aria-labelledby="headingSix" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">If you accidentally sent your donation to the wrong
                                            address, please contact the support team of CryptoPot as soon as
                                            possible. We will do our best to help you recover your funds, but please
                                            note that we cannot guarantee the recovery of
                                            funds sent
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingSeven">
                                        <button class="accordion-button faq_button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapseSeven"
                                            aria-expanded="false" aria-controls="collapseSeven">How can organizations
                                            join CryptoPot and create their own donation page?</button>
                                    </h2>
                                    <div id="collapseSeven" class="accordion-collapse collapse"
                                        aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">If you accidentally sent your donation to the wrong
                                            address, please contact the
                                            Organizations can join CryptoPot by submitting an application on our
                                            website. Once the application is reviewed and
                                            approved, the organization will have access to create their own donation
                                            page, where they can share information about
                                            their mission and goals, and accept donations in stablecoins.
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingSeven">
                                        <button class="accordion-button faq_button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapse8" aria-expanded="false"
                                            aria-controls="collapse8">Is there a minimum or maximum donation
                                            amount?</button>
                                    </h2>
                                    <div id="collapse8" class="accordion-collapse collapse"
                                        aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">There is no minimum or maximum donation amount on
                                            CryptoPot. Donors can give any amount that they feel comfortable with.
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingSeven">
                                        <button class="accordion-button faq_button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapse88" aria-expanded="false"
                                            aria-controls="collapse88">Can I donate in other cryptocurrencies besides
                                            stablecoins?</button>
                                    </h2>
                                    <div id="collapse88" class="accordion-collapse collapse"
                                        aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">Currently, we only accept donations in stablecoins
                                            such as BUSD, USDC, USDT, and DAI.
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingSeven">
                                        <button class="accordion-button faq_button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapse9" aria-expanded="false"
                                            aria-controls="collapse9">Can I see how my donation is being used by the
                                            organization?</button>
                                    </h2>
                                    <div id="collapse9" class="accordion-collapse collapse"
                                        aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">Organizations on CryptoPot can choose to share
                                            updates and reports on how donations are being used to support their
                                            mission and goals. However, please note that CryptoPot does not control the
                                            use of funds donated through the platform
                                            and does not guarantee that donations will be used for any particular
                                            purpose.
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingSeven">
                                        <button class="accordion-button faq_button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapse99" aria-expanded="false"
                                            aria-controls="collapse99">Is there a fee for using the CryptoPot
                                            platform?</button>
                                    </h2>
                                    <div id="collapse99" class="accordion-collapse collapse"
                                        aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">There is no fee for making a donation on CryptoPot.
                                            However, there may be fees associated with sending stablecoins from
                                            your wallet to the donation address, such as network fees.
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingSeven">
                                        <button class="accordion-button faq_button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapse991"
                                            aria-expanded="false" aria-controls="collapse991">How can I get in touch
                                            with CryptoPot if I have
                                            more questions or need help?</button>
                                    </h2>
                                    <div id="collapse991" class="accordion-collapse collapse"
                                        aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">You can contact us at contact@cryptopot.fr for any
                                            questions or assistance you may need.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</app-page>