<main>
    <!--slider area start-->
    <section class="slider_area">
        <div class="img_topleft"><img data-depth="1" src="assets/img/slider/lefttop.png" alt="img"></div>
        <div class="img_topright"><img data-depth="1.3" src="assets/img/slider/righttop.png" alt="img"></div>
        <div class="img_bottomleft"><img data-depth="1.5" src="assets/img/slider/bottomleft.png" alt="img"></div>
        <div class="slider_active">
            <div class="single_slider slider_height p-rel d-flex align-items-center align-items-md-end">
                <div class="img_bottomright"><img data-depth="0.8"
                        src="https://html.storebuild.shop/donacion/donacion/assets/img/slider/bottomright.png" alt="img">
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-xxl-6 col-xl-7 col-lg-8 col-md-9">
                            <div class="slider_content text_space">
                                <div class="slider_text text_overlay">
                                    <h2 class="slider_title"> <span>Make</span> <br> Donation</h2>
                                    <div class="slider_button"><a routerLink="pots"
                                            class="g_btn theme1_bg to_right2 slider_btn i_left rad-30 p-35"><i
                                                class="fal fa-heart"></i> Explore Causes<span></span></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--slider area end-->



    <!--cta area start-->
    <section class="cta_area cta-bg text-white pt-90 pb-60">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xxl-4 text-center text-xxl-start">
                    <div class="section_title_2 mb-30">
                        <span class="sub_title_2">Make Donation</span>
                        <h3 class="section_title_2 mb-0">Become a Donator</h3>
                    </div>
                </div>
                <div class="col-xxl-8">
                    <div class="donar_section d-lg-flex justify-content-center justify-content-xxl-end text-center">
                        <div class="donnar_button text-center">
                            <a routerLink="pots" class="g_btn theme1_bg to_right2 donation rad-30 p-60 mb-30">Make a
                                Donation<span></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--cta area end-->



    <!--about area start-->
    <section class="about_area pt-120 pb-80">
        <div class="container">
            <div class="row">
                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <div class="about_img_wrapper fix mr-30">
                        <div class="row mb-40">
                            <div class="col-12 custom_col">
                                <a routerLink="pots" class="about_img w_img">
                                    <img src="https://html.storebuild.shop/donacion/donacion/assets/img/causes/cause_sbig.jpg"
                                        alt="img">
                                    <div class="about_img_text theme-2">
                                        <i class="flaticon-water-drop"></i>
                                        <h6 class="img_text">Pure Water</h6>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="row gutter_40">
                            <div class="col-xxl-6 col-md-6 col-sm-6 custom_col mb-40">
                                <a routerLink="pots" class="about_img w_img rad-50p fix">
                                    <img src="https://html.storebuild.shop/donacion/donacion/assets/img/about/about_sm1.jpg"
                                        alt="img">
                                    <div class="about_img_text theme-no1">
                                        <i class="flaticon-doctor"></i>
                                        <h6 class="img_text">Education</h6>
                                    </div>
                                </a>
                            </div>
                            <div class="col-xxl-6 col-md-6 col-sm-6 custom_col mb-40">
                                <a routerLink="pots" class="about_img w_img">
                                    <img src="https://html.storebuild.shop/donacion/donacion/assets/img/about/about_sm2.jpg"
                                        alt="img">
                                    <div class="about_img_text theme-no">
                                        <i class="flaticon-stethoscope"></i>
                                        <h6 class="img_text">Medical & Health</h6>
                                    </div>
                                </a>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 d-flex align-items-center">
                    <div class="about_wrapper_home pl-20">
                        <div class="section_title">
                            <span class="sub_title"><i class="fal fa-heart"></i> About Us</span>
                            <h3 class="title">Use cryptocurrencies <br> to save the world</h3>
                        </div>
                        <p>At CryptoPot, we believe in the power of both the charitable world and the world of
                            cryptocurrencies to make a positive
                            impact on society.</p>
                        <p class="mb-45">Our goal is to make it easy for anyone to support the causes they care about,
                            while also taking advantage of the
                            benefits that come with using cryptocurrencies. We are committed to connecting people who
                            care with organizations that
                            can make a real difference.</p>
                        <div class="row">
                            <div class="col-xxl-5 col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                <ul class="about_list mtm-20 mb-30">
                                    <li>Food & water charity</li>
                                    <li>Sent a gift anytime</li>
                                    <li>Make donation</li>
                                    <li>24/7 online support</li>
                                </ul>
                            </div>
                            <div class="col-xxl-5 col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                <div class="about_review text-center mb-30"
                                    data-background="assets/img/about/about_review.jpg">
                                    <span class="author">-Mironton T.</span>
                                    <h5 class="review_text">Life is a long lesson
                                        in humanity</h5>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="chooseus_area bg_cover p-rel pt-105 pb-90"
            style="background-image: url('https://html.storebuild.shop/donacion/donacion/assets/img/bg/choose_bg.jpg')">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xxl-7 col-xl-8 col-lg-12 col-md-12">
                        <div class="chooseus_wrapper">
                            <div class="section_title mb-35">
                                <span class="sub_title sub_title_2">Why Choose Us</span>
                                <h3 class="title title_2">Be the leader of tomorrow</h3>
                            </div>
                            <p class="mb-45" style="color: black">With a growing number of users and organizations,
                                CryptoPot is quickly becoming a leader in the world of crypto
                                philanthropy, helping to raise millions for charitable causes.
                            </p>

                            <div class="row space_r60 justify-content-center">
                                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                                    <div class="choose_card theme-1 mb-30">
                                        <i class="flaticon-growth-1"></i>
                                        <div class="choose_card_text">
                                            <span class="card_numb">{{(pots$ | async)?.length || 0}}</span>
                                            <span>pots</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                                    <div class="choose_card theme-2 mb-30">
                                        <i class="flaticon-light-bulb"></i>
                                        <div class="choose_card_text">
                                            <span class="card_numb">{{(assos$ | async)?.length || 0}}</span>
                                            <span>associations</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xxl-8 col-xl-8 col-lg-8 col-md-8">
                                    <div class="choose_card theme-3 space_l30 mb-30">
                                        <i class="flaticon-stethoscope"></i>
                                        <div class="choose_card_text">
                                            <span class="card_numb">{{totalRaisedFunds | currency }}</span>
                                            <span>funds raised</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-5 col-xl-4 col-lg-12">
                        <div class="video_wrapper pl-70">
                            <a href="https://www.youtube.com/watch?v=X4bgaIt8qVY" class="play_btn"><i
                                    class="fas fa-play"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="causes_area grey-bg pt-105 pb-385"
        data-background="https://html.storebuild.shop/donacion/donacion/assets/img/causes/cause_map.png">
        <div class="container">
            <div class="row">
                <div class="col-xxl-12 text-center">
                    <div class="section_title mb-45">
                        <span class="sub_title"><i class="fal fa-heart"></i> Causes</span>
                        <h3 class="title">Latest Causes</h3>
                    </div>
                </div>
            </div>
            <div class="swiper-container cause_container_active">
                <div class="swiper-wrapper" style="padding-bottom: 2rem;">
                    <div class="single_cause swiper-slide mb-30" *ngFor="let pot of pots$ |async">
                        <div class="single_cause_img img_effect_white p-rel">
                            <a routerLink="/pot/{{pot.id}}"><img [src]="pot.image || ''" alt="img"></a>
                            <div class="progress_wrapper pbar_1">
                                <div class="progress_circle"
                                style="margin-bottom: 0px;"
                                    [attr.data-percentage]="pot.amount_paid / pot.target_amount * 100 | number : '1.0-0'">
                                    <span class="progress-left">
                                        <span class="progress-bar"></span>
                                    </span>
                                    <span class="progress-right">
                                        <span class="progress-bar"></span>
                                    </span>
                                    <div class="progress-value">
                                        <div>
                                            {{pot.amount_paid / pot.target_amount * 100 | number : '1.0-0'}}%
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single_cause_content single_cause_content_2" style="padding: 6px 15px;">
                            <div class="single_cause">
                                <small><a routerLink="/pot/{{pot.id}}" style="text-decoration: none;">{{pot.name}}</a></small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination text-center"></div>
            </div>
        </div>
    </section>

    <div class="support_area mtm-294 pb-90">
        <div class="container">
            <div class="support_bg white-bg">
                <div class="row">
                    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12">
                        <div class="support_images_active swiper-container dots_style">
                            <div class="swiper-wrapper">
                                <div class="support_img_single swiper-slide img_effect_white">
                                    <a href="volunteer.html"><img
                                            src="https://html.storebuild.shop/donacion/donacion/assets/img/bg/support1.jpg"
                                            alt="img"></a>
                                </div>
                                <div class="support_img_single swiper-slide img_effect_white">
                                    <a href="volunteer.html"><img
                                            src="https://html.storebuild.shop/donacion/donacion/assets/img/bg/support3.jpg"
                                            alt="img"></a>
                                </div>
                                <div class="support_img_single swiper-slide img_effect_white">
                                    <a href="volunteer.html"><img
                                            src="https://html.storebuild.shop/donacion/donacion/assets/img/bg/support4.jpg"
                                            alt="img"></a>
                                </div>
                                <div class="support_img_single swiper-slide img_effect_white">
                                    <a href="volunteer.html"><img
                                            src="https://html.storebuild.shop/donacion/donacion/assets/img/bg/support3.jpg"
                                            alt="img"></a>
                                </div>
                            </div>
                            <!-- Add Pagination -->
                            <div class="swiper-pagination-join text-center"></div>
                        </div>
                    </div>
                    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 d-flex align-items-center">
                        <div class="support_wrapper">
                            <div class="section_title">
                                <span class="sub_title"><i class="fal fa-users"></i> Join Us</span>
                                <h3 class="title">Join us and make the difference</h3>
                            </div>
                            <p>At <strong>CryptoPot</strong>, we believe that every charitable organization should have
                                access to the benefits of using cryptocurrencies
                                for donations. That's why we're excited to offer organizations the opportunity to join
                                our platform.</p>
                            <p>By joining <strong>CryptoPot</strong>, your organization will have access to a new stream
                                of donations in stablecoins such as BUSD, USDC,
                                USDT, and DAI. Our platform is simple and secure, and we provide transparency so that
                                donors can track where their
                                contributions are going. Plus, our platform is easy to use, so your organization can
                                focus on its mission, not on
                                managing crypto donations.</p>
                            <p>We understand that every organization is unique and has different needs. That's why we
                                offer tailored solutions to fit
                                your organization's specific requirements. We will work with you to ensure that your
                                organization's profile and donation
                                options are tailored to your needs.</p>
                            <p class="mb-45">Don't miss this opportunity to reach a new audience of donors and secure
                                new donations in crypto. Join CryptoPot today
                                and let's make a difference together.</p>
                            <a routerLink="/apply" class="g_btn theme1_bg to_right2 i_right rad-30 p-45">Apply Here<i
                                    class="fal fa-long-arrow-right"></i><span></span></a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</main>