<app-page title="Terms & Conditions">

    <section class="about_area pt-120">
        <div class="about_white_bg">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <div class="section_title text-center mb-60">
                            <span class="sub_title sub_title_2">legal</span>
                            <h3 class="title title_2">Terms & Conditions</h3>
                        </div>
                    </div>
                    <div class="col-8">
                        <p>Welcome to <strong>CryptoPot</strong>, an online platform that allows users to make
                            charitable donations in
                            stablecoins such as BUSD,
                            USDC, USDT, and DAI. These terms and conditions ("Terms") govern your use of the
                            <strong>CryptoPot</strong>
                            website (the "Website") and
                            the services offered by <strong>CryptoPot</strong> (the "Services"). By accessing or using
                            the Website or
                            Services, you agree to be bound
                            by these Terms. If you do not agree to these Terms, do not use the Website or Services.</p>
                        <h4>Use of the Website and Services</h4>
                        <p>You are responsible for ensuring that your use of the Website and Services complies with all
                            applicable laws and
                            regulations.
                            <br>You may use the Website and Services only for lawful purposes and in accordance with
                            these Terms.
                            <br>You may not use the Website or Services in any way that could damage, disable,
                            overburden, or impair the Website or
                            <br>Services or interfere with any other party's use and enjoyment of the Website or
                            Services.
                        </p>
                        <h4>Your account</h4>
                        <p>You may need to create an account to use certain features of the Website and Services.
                            <br>You are responsible for maintaining the confidentiality of your account credentials and
                            for all activities that occur
                            under your account.
                            <br>You agree to notify <strong>CryptoPot</strong> immediately of any unauthorized use of
                            your account.
                        </p>
                        <h4>Donations</h4>
                        <p>
                            By making a donation through the Website and Services, you represent and warrant that you
                            are legally entitled to make
                            the donation and that the donation does not violate any applicable laws or regulations.
                            <br><strong>CryptoPot</strong> does not control the use of funds donated through the Website
                            and Services and
                            does not guarantee that
                            donations will be used for any particular purpose.
                            <br><strong>CryptoPot</strong> does not provide tax or legal advice, and it is your
                            responsibility to ensure
                            that your donations comply with
                            all applicable laws and regulations.
                        </p>
                        <h4>Intellectual Property</h4>
                        <p>The Website and Services, including but not limited to text, graphics, logos, images, and
                            software, are the property of
                            <strong>CryptoPot</strong> or its licensors and are protected by copyright and trademark
                            laws.
                            <br>You may not use any content from the Website or Services without the express written
                            permission of <strong>CryptoPot</strong> or the
                            appropriate licensor.
                        </p>
                        <h4>Disclaimer of Warranties</h4>
                        <p>The Website and Services are provided on an "as is" and "as available" basis.
                            <strong>CryptoPot</strong> makes
                            no representations or
                            warranties of any kind, express or implied, as to the operation of the Website or Services
                            or the information, content,
                            materials, or products included on the Website or Services.
                            <br><strong>CryptoPot</strong> does not warrant that the Website or Services will be
                            uninterrupted or
                            error-free, and <strong>CryptoPot</strong> will not be
                            liable for any interruptions or errors.
                        </p>
                        <h4>Limitation of Liability</h4>
                        <p>To the fullest extent permitted by law, <strong>CryptoPot</strong> will not be liable for any
                            direct,
                            indirect, incidental, special, or
                            consequential damages arising out of or in connection with the use of the Website or
                            Services or the inability to use
                            the Website or Services.</p>
                        <h4>Changes to the Terms</h4>
                        <p><strong>CryptoPot</strong> reserves the right to make changes to these Terms at any time and
                            without notice.
                            <br>Your continued use of the Website and Services following any changes to these Terms will
                            constitute your acceptance of
                            the new Terms.
                        </p>
                        <h4>Governing Law</h4>
                        <p>These Terms and your use of the Website and Services will be governed by and construed in
                            accordance with the laws of
                            the country where <strong>CryptoPot</strong> is based, without giving effect to any
                            principles of conflicts
                            of law.</p>
                        <h4>Dispute Resolution</h4>
                        <p>Any disputes arising out of or related to these Terms or the Website or Services will be
                            resolved through binding
                            arbitration in accordance with the rules of the International Chamber of Commerce.</p>
                        <h4>Third-Party Links</h4>
                        <p>The Website and Services may contain links to third-party websites or services that are not
                            owned or controlled by
                            <strong>CryptoPot</strong>.
                            <br><strong>CryptoPot</strong> has no control over, and assumes no responsibility for, the
                            content, privacy
                            policies, or practices of any
                            third-party websites or services.
                        </p>
                        <h4>Feedback</h4>
                        <p>If you provide any feedback or suggestions to <strong>CryptoPot</strong> concerning the
                            Website or Services,
                            you hereby assign to
                            <strong>CryptoPot</strong> all rights in such Feedback and agree that
                            <strong>CryptoPot</strong> shall have the right to use
                            and fully exploit such
                            Feedback and related information in any manner it deems appropriate.
                        </p>
                        <h4>Contact Us</h4>
                        <p>If you have any questions about these Terms, please contact us at
                            contact@<strong>cryptopot</strong>.fr</p>
                        <br><br>
                        <p>By accessing or using the Website or Services, you acknowledge that you have read and
                            understand these Terms and agree
                            to be bound by them.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</app-page>